* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */
.header_container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.2% 7%;
  border-bottom: 2px solid rgba(0, 128, 128, 0.233);
  background-color: rgba(0, 128, 128, 0.2);
  justify-content: space-between;
}

.header_container div.title a {
  color: teal;
  font-size: 2rem;
}

nav.nav_bar a {
  color: rgba(0, 128, 128, 0.7);
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 15px;
}
nav.nav_bar a:hover {
  color: teal;
  cursor: pointer;
  transition: color 5ms ease;
}
nav.nav_bar a.active {
  color: teal;
  font-weight: 600;
}
.menu_bar {
  display: none;
}
/* Search */
.search_container {
  display: flex;
  flex: 1;
  margin: 0 10%;
  border: 2px solid rgba(0, 128, 128, 0.4);
  border-radius: 2rem;
  /* width: 500px; */
}
.search_container input {
  padding: 0.8rem;
  width: 100%;
  background-color: transparent;
  border: none;
  color: teal;
  outline: none;
  text-transform: uppercase;
}
.search_container button {
  background-color: rgba(0, 128, 128, 0.788);
  color: white;
  border-radius: 2rem;
  padding: 0 2rem;
  border: none;
  margin: 2px;
}
.search_container button:hover {
  background-color: teal;
  cursor: pointer;
}
/* BODY */
.body_container {
  padding: 0 10%;
}
/* HERO SECTION */
.hero_container {
  height: auto;
  width: 100%;
  display: flex;
}
.hero_image_container {
  width: 100%;
  padding: 0 2.5rem;
  background-image: linear-gradient(
      to right,
      rgb(0, 128, 128, 0.8) 0%,
      rgb(0, 128, 128, 0.8) 100%
    ),
    url("./images/splash.jpg");
  /* min-height: 300px; */
  height: calc(100vh / 2.5);

  min-height: 300px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_image_container div.hero_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.hero_image_container div.hero_text h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5;
}
.hero_image_container div.hero_text h3 {
  font-size: 1.7em;
  font-weight: 400;
}
.hero_image_container div.hero_search {
  margin-top: 2rem;
  display: none;
  border: 2px solid rgba(0, 128, 128, 0.4);
  border-radius: 2rem;
}

.hero_popular_container {
  width: 100%;
  display: flex;
  height: calc(100vh / 1.7);
  padding: 0 4rem;
  margin-bottom: 2rem;
}

.hero_popular_container div.inner_container {
  width: 100%;
}
.popular_tab_container {
  display: flex;
}
.inner_tab_container {
  background: white;
  border: 2px solid teal;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
.inner_tab_container button {
  min-width: 5rem;
  padding: 0.5rem;
  background: white;
  border: none;
  border-radius: 0.8rem;
  margin-right: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: teal;
}
.inner_tab_container button:last-child {
  margin-right: -1px;
}
.inner_tab_container button.active {
  background: teal;
  color: white;
}
.popular_silder_container {
  width: 100%;
  height: calc(100% / 1.1);
  padding: 1rem;
}
/* FILTER */
.filter_container {
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}
.filter_container button {
  min-width: 5rem;
  padding: 0.3rem;
  background: white;
  border: 2px solid teal;
  border-radius: 0.8rem;
  margin-right: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: teal;
}
.filter_container button.active {
  background: teal;
  color: aliceblue;
}
.filter_container button:hover {
  background: teal;
  color: aliceblue;
  cursor: pointer;
  transition: background 500ms ease;
}
/* MOVIE CARD */

.popular_movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 0 2rem;
}

.movie_card h2 {
  font-size: 0.8rem;
  display: grid;
  text-align: center;
  place-items: center;
  height: 3rem;
  border-radius: 0.7rem 0.7rem 0 0;
  border: 1px solid whitesmoke;
  border-bottom: 0;
}
.movie_card img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border: 0.7rem;
  border-radius: 0 0 0.7rem 0.7rem;
  border: 1px solid whitesmoke;
  border-top: 0;
}

/* PAGINATION FOOTER */
.pagination_container {
  width: 100%;
  height: 2rem;
}
.containerClassName {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  height: 100%;
  place-items: center;
}
.loading {
  color: teal;
  text-align: center;
  font-size: 2rem;
  margin: 30vh 0;
}
div.page_content {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
div.page_content h1 {
  color: teal;
  font-size: 5rem;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .hero_image_container div.hero_search {
    margin-top: 2rem;
    display: flex;
  }
  .search_container button {
    display: none;
  }
  .div_search {
    display: none;
  }
  .header_container div.title a {
    font-size: 1.5rem;
  }
  nav.nav_bar {
    display: none;
  }
  .menu_bar {
    display: flex;
  }
  .search_container {
    margin: 0 0%;
    border: none;
    background-color: white;
  }
}

@media only screen and (min-width: 600px) {
  .header_container div.title a {
    font-size: 1.5rem;
  }
  nav.nav_bar {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  nav.nav_bar {
    display: flex;
  }
}
